/* TITULO AQUI
   ============================= */

body {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

/* FONTS
   ============================= */

@font-face {
  font-family: 'Beaufort';
  src: url('fonts/Beaufort-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	   url('fonts/Beaufort-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Spiegel';
  src: url('fonts/Spiegel-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	   url('fonts/Spiegel-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* BUTTONS
   ============================= */

.btn {
	text-decoration: none;
	display: inline-block;
	font-family: "Beaufort";
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

.btn[disabled] {
	color: #5c5b57;
	background-color: #1e2328;
	border-color: #5c5b57;
	border-image: initial;
}

.btn-primary {
	border: 3px solid;
	border-radius: 0;
	padding: 13px 35px 12px;
	color: #f0e6d2;
	font-size: 18px;
	background: #1e2328;
	box-shadow: 0 0 0 0 transparent;
	border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
	border-image-slice: 1;
	transition: all ease .5s;
}

.btn-primary:hover:not([disabled]) {
	background-image: url(assets/btn.jpg);
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0 10px 4px rgba(192,252,253,.4), inset 0 0 5px 2px rgba(192,252,253,.3);
	border: 3px solid rgba(192,252,253,.7);
}

.btn-secondary {
	border: 3px solid;
	border-radius: 0;
	padding: 7px 35px 8px;
	color: #f0e6d2;
	font-size: 16px;
	background: #242731;
	box-shadow: 0 0 0 0 transparent;
	border-image: linear-gradient(to bottom,#f6c97f 0,#ca9d4b 100%);
	border-image-slice: 1;
	transition: all ease .5s;
}

.btn-secondary:hover:not([disabled]) {
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0 5px 2px rgba(192,252,253,.4), inset 0 0 5px 2px rgba(192,252,253,.3);
	border: 3px solid #eee2cc;
}

/* FORM INPUT
   ============================= */

div {
	display: block;
}
   
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: "Spiegel-Regular", sans-serif;
	font-size: 12px;
	color: #a09b8c;
	float: left;
}

.form-control {
	box-sizing: border-box;
	color: #f0e6d2;
	border-radius: 0;
	border-color: #785a28;
	border-width: 1px;
	border-style: solid;
	background-color: #1e2328;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset, 0 0 0 1px rgba(0,0,0,0.25);
	transition: border-color 0s;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
}

.form-control:focus {
	outline: 0px none;
	border-color: #a98f5d;
	background: linear-gradient(to bottom, #1e2328, #292d30);
	border-image: linear-gradient(to bottom, #785A28, #c8aa6e) 1 stretch;
}

/* FORM CHECKBOX
   ============================= */

.checkbox label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 20px;
	user-select: none;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
}
	
.checkbox label:before {  
	content: "";
	width: 14px;
	height: 14px;
	position: absolute;  
	left: 0;
}
	
input[type=checkbox] {  
    display: none;  
}
	
.checkbox label:before {
	background: url('assets/checkbox-selected.png') left center no-repeat;
    margin-top: 2px;
}
	
input[type=checkbox]:checked + label:before {  
	background: url('assets/checkbox.png') left center no-repeat;  
} 

.checkbox label:hover::before {
	background: url('assets/checkbox-selected-hover.png') left center no-repeat;
}
	
input[type=checkbox]:checked + label:hover::before {  
	background: url('assets/checkbox-hover.png') left center no-repeat;
}

.checkbox label:hover {
	color: #f0e6d2;
}

/* TITLES AND TEXT
   ============================= */

h1, h2, h3, h4 {
	font-family: "Beaufort";
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
    padding: 0;
}

h1 {
	font-size: 2rem;
	line-height: 1.125;
}

p {
	font-family: "Spiegel-Regular", sans-serif;
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

/* STRUCTURES
   ============================= */

.container {
	margin: 0 auto;
	position: relative;
}

/* BANNER
   ============================= */

.banner {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 50vh;
	background: #000a14;
}

.banner-full {
	min-height: 100vh;
}

.banner-hextech {
	color: #fff;
}

.banner-body {
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 3rem 1.5rem;
}

.banner-body>.container {
	flex-grow: 1;
	flex-shrink: 1;
}

.banner-text {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	left: 0;
}