/*! hextech-css | MIT License | github.com/pxlucasf/hextech-css */

/* FONTS & ICONS
   ============================= */

@font-face {
  font-family: 'Beaufort';
  src: url('fonts/Beaufort-Regular.woff') format('woff'),
       url('fonts/Beaufort-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Beaufort';
  src: url('fonts/Beaufort-Bold.woff') format('woff'),
       url('fonts/Beaufort-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Spiegel';
  src: url('fonts/Spiegel-Regular.woff') format('woff'),
	     url('fonts/Spiegel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spiegel';
  src: url('fonts/Spiegel-Italic.woff') format('woff'),
	     url('fonts/Spiegel-Italic.ttf') format('truetype');
  font-style: italic;
}

/* MINIRESET.CSS
   ============================= */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/* GENERIC
   ============================= */

body {
  font-family: Spiegel;
}